

.bodyBox{

    position: absolute;
    top: 25%;
   right: 30%;
   
}

.hide{

    display:none
}
.button{
top: 0px;
height: 350px;
width: 750px;
background-color: rgb(131, 75, 131);
text: black;
font-size: 28px;
}
.scoresBox{

right: 100%;
background-color: aqua;
text:black
}

.submitButton{

    
    background-color: rgb(131, 71, 131);
}